<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='stress.css') }}">
      <script src="{{ url_for('static', filename='stress.js') }}"></script>

    <title> Stress Less </title>
    <link rel="icon" type="image/png" href="https://i.pinimg.com/originals/85/27/8f/85278f4ca132ab0cc66d863d6e01d98b.png" sizes="16x16" />


    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */

</style>


  </head>

  <body>

    <img src="https://i.pinimg.com/originals/aa/59/30/aa59302a3cfea5653b5b52588ce4bc9b.png" class="center">

    <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="blogs.html">Blogs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tips.html">Tips</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="places.html">Places</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="app.html">Apps</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="quiz.html">Quiz</a>
      </li>

    </ul>
  </div>
</nav>

<h3 class="text-center">Blogs<h3>

<div class="header">

</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card7 spaced-text">
      <h2>Top 3 Stress Management Tips</h2>
      <h5>Zen Zone Article; July 24, 2019</h5>
      <div> <center><img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80" class="management"></center> </img></div>

      <h5>
      It might surprise you to learn that biological stress is a fairly recent discovery. It wasn't until the late 1950s that endocrinologist Hans Selye first identified and documented stress.

      Symptoms of stress existed long before Selye, but his discoveries led to new research that has helped millions cope with stress. We have compiled a list of the top 10 ways to relieve stress.</h5>

      <h4>1. Listen to music</h4>
        <h5> If you're feeling overwhelmed by a stressful situation, try taking a break and listening to relaxing music. Playing calm music has a positive effect on the brain and body, can lower blood pressure, and reduce cortisol, a hormone linked to stress.

      We recommend cello master Yo-Yo Ma playing Bach, but if classical really is not your thing, try listening to ocean or nature sounds. It may sound cheesy, but they have similar relaxing effects to music.   </h5>


      <h4>2. Be mindful</h4>
      <h5>  Most of the tips we have suggested provide immediate relief, but there are also many lifestyle changes that can be more effective in the long run. The concept of mindfulness is a large part of meditative and somatic approaches to mental health and has become popular recently.

      From yoga and tai chi to meditation and Pilates, these systems of mindfulness incorporate physical and mental exercises that prevent stress from becoming a problem. Try joining a class.  </h5>


      <h4>3. Sleep better</h4>
      <h5>  Everyone knows stress can cause you to lose sleep. Unfortunately, lack of sleep is also a key cause of stress. This vicious cycle causes the brain and body to get out of whack and only gets worse with time.

      Make sure to get the doctor-recommended seven to eight hours of sleep. Turn the TV off earlier, dim the lights, and give yourself time to relax before going to bed. It may be the most effective stress buster on our list
      <h5>

<div style= "width: 100%; height:100px;"> </div>

    </div>
    <div class="card7">
      <h2>Using Stress as a Motivator</h2>
      <h5>Zen Zone Article; July 20, 2019</h5>
      <div> <center><img src= "https://images.unsplash.com/photo-1516062423079-7ca13cdc7f5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1522&q=80" class="motivation"></center></img>
    </div>
      <h3>4 Ways Stress Makes You More Productive</h3>
      <h5>
      Stress is never helpful in life. Or is it?

      In some cases, stress can motivate you to get something done in ways that were not possible when you were just sipping coffee at a roadside cafe or shooting the breeze on a beach somewhere. Stress happens when we lose control of a given situation, but it can also help us fight back and regain control, which is then motivating and helpful.

      It's important to put stress in a box. Why is it happening? How can you fight it? What needs to change so you are not stressed anymore? What role can you play in reducing the stress? The fact that you are even interested in answering those question is a good sign. When you get stressed, it's a good idea to remember a few less obvious benefits as a way to push you into a higher level of productivity (and thinking).   </h5>

      <h4>It makes you more alert</h4>

      <h5> The number one reason stress can be a useful motivator has to do with your increased sense of urgency. You become more aware of the situation, even if that "situation" is a traffic jam or a tense conflict with a co-worker. Learning to manage stress is important, and it's not a good way to live, but that keen awareness is a benefit if it means you are looking more closely at body language during a conflict, quickly scanning through sites that provide practical tips, or seeking out a mentor with helpful advice. Suddenly, you are on the fast lane to find answers. Stress is not fun, but if it leads to a positive outcome, it can be worth the pain.</h5>

      <h4> It shows you care about the topic</h4>

    <h5>  Next time you are about to give a presentation to a group of investors or board a plane in a major snowstorm, consider this simple fact: Stress is a sign that you care about the outcome. I tend to get the most stressed about family issues, which is a good sign--it means I really care about my family. It's when you do not get stressed about a change in plans or a conflict that you should wonder why you are not stressed. When you do care, let that extra energy motivate you and make you work harder.<h5>

      <h4>It teaches you to enjoy the times when you are not stressed</h4>

      <h5>Stress, like hunger or a low number in your bank account or even a problem in a relationship, is always temporary (with apologies to those who work in the air traffic control or fire and rescue fields. Or anyone who works with Larry in accounting.) There is an answer. You will get through the problem, even if it takes time. Stress puts you into a mild form of shock and triggers a higher level of alertness, but it will pass. When you are on a hammock in Acapulco next week, relish the time of no stress.<h5>

      <h4>It helps you find a quick solution</h4>

      <h5>No one likes to live with stress on a constant basis. If you've ever missed a flight, you know how much a change in plans can motivate you to find another route home. That same sense of resolving something can work in your favor in business because you suddenly become much more interested in finding the right answer. I'm not saying you should create stress or look for it, but when it happens, consider the fact that you now have a slight advantage. You can be much more productive when you are stressed than the times when you are totally relaxed.

      Those who learn to cope with stress and see how it can serve as a springboard at times will get a burst of productivity.<h5>

      </p>
    </div>
  </div>


  </div>
</div>




<div class="footer">

</div>







<h4 class="text-center">Our Favorite Products:<h4>





<div class="card-deck">
<div class="card">
  <img class= "pic" class= "card-img-top" src="https://www.bathandbodyworks.com/dw/image/v2/BBDL_PRD/on/demandware.static/-/Sites-master-catalog/default/dwc8a03e29/hires/023740019.jpg?sh=1500&sfrm=jpg" >
  <div class="card-body">
    <h4 class="text-center">Eucalyptus Candle</h4>
    <h5 class="card-text">This is an Aromatherapy Eucalyptus Spearmint candle (single wick).Helps with relieving stress as well as having a nice and relaxing scent.
      <a href= "https://www.bathandbodyworks.com/p/eucalyptus-spearmint-single-wick-candle-024374056.html?ef_id=CjwKCAjw4NrpBRBsEiwAUcLcDG1sj_N9Ezv1uFh0HpovY6hKgL9DcJGzHN24RuB3nO5Z5bj7d8eybBoCdOcQAvD_BwE:G:s&cm_mmc=GooglePLA-_-Paid+Search-_-[^]Shopping+-+Medium+-+Body+Care-_-Wexler&gclid=CjwKCAjw4NrpBRBsEiwAUcLcDG1sj_N9Ezv1uFh0HpovY6hKgL9DcJGzHN24RuB3nO5Z5bj7d8eybBoCdOcQAvD_BwE"> Link to Purchase </a>
</p>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51YMuBKsO5L._SL1001_.jpg">
  <div class="card-body">
    <h4 class="text-center">Weighted Blanket</h4>
    <h5 class="card-text">The 7-layer system comfortably wraps your body while sleeping. This eliminates anxiety and relieves stress by simulating the feeling of being hugged--helping you to fall asleep faster and sleep better.
<a href= "https://www.amazon.com/Fabula-Life-Weighted-Blanket-Premium/dp/B07G2NM611/ref=sr_1_3?gclid=CjwKCAjw4NrpBRBsEiwAUcLcDBgbBDhEqzVdP_kBDPnncVkMOyvinqEq6rAJfvjM24ULnP1B0LbN_RoCcQIQAvD_BwE&hvadid=352439143104&hvdev=c&hvlocphy=9031041&hvnetw=g&hvpos=1t2&hvqmt=e&hvrand=14481637586678558529&hvtargid=kwd-771282470770&hydadcr=19257_10201616&keywords=weighted+blanket%27&qid=1563917503&s=gateway&sr=8-3"> Link to Purchase </a>
    </p>
  </div>
</div>
<div class="card">
  <img class= "pic3" class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71WKpSe%2BEBL._SX522_.jpg">
  <div class="card-body">
    <h4 class="text-center">Humidifier</h4>
    <h5 class="card-text">This ultrasonic essential oil diffuser is an amazing multifunction aromatherapy device.
      <a href="https://www.amazon.com/dp/B073B31V3L/ref=sspa_dk_detail_4?pd_rd_i=B073B31V3L&pd_rd_w=K9cAL&pf_rd_p=8a8f3917-7900-4ce8-ad90-adf0d53c0985&pd_rd_wg=HZRbX&pf_rd_r=9GDJ6NXK108NTYBYR3K8&pd_rd_r=78cd9575-3454-49ec-b8dd-c7f4436e9fb1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExM0g3NU8xMk1JN1pJJmVuY3J5cHRlZElkPUEwMjMxNzcwMkxIUzEyVExJWTU5TSZlbmNyeXB0ZWRBZElkPUEwMzE5OTAxVFFXUU9DMUJYNkRDJndpZGdldE5hbWU9c3BfZGV0YWlsJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ&th=1"> Link to Purchase </a>
     </p>
  </div>
</div>
</div>

<div class="card-deck">
<div class="card">
  <img class= "pic3" class="card-img-top" src="https://www.sephora.com/productimages/sku/s1971258-main-zoom.jpg">
  <div class="card-body">
    <h4 class="text-center">Lancome Hydra Zen Anti-Stress Gel Moisturizer</h4>
    <h5 class="card-text">This is an oil-free, gel-cream texture for intense 24-hour hydration. Makes you feel refreshed as the rose-infused gel-cream makes your feel smooth, comfortable, and nourished.
      <a href="https://www.sephora.com/product/hydra-zen-anti-stress-gel-moisturizer-P422430?skuId=1971258&om_mmc=ppc-GG_1917651515_76228057851_pla-419706416810_1971258_353513007760_9031041_c&country_switch=us&lang=en&ds_rl=1261471&gclid=CjwKCAjwg-DpBRBbEiwAEV1_-BXkd93GapIKp-WUdS5maTG4NAkVdUDMY1v-GPxbqW3zmdcOkvpJoxoC6g4QAvD_BwE&gclsrc=aw.ds"> Link to Purchase </a>

    </p>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="https://imagena.loccitane.com/dw/image/v2/BCDQ_PRD/on/demandware.static/-/Sites-occ_master/default/dwcf6b3fe4/US/882921.png?sw=500&sh=500">
  <div class="card-body">
    <h4 class="text-center">L'occitane Lavender Bath Body Duo</h4>
    <h5 class="card-text">This Lavender Bath Body Duo Lotion and Bath Gel gives you a gentle scent of lavender while also giving you the hydration of feeling clean.
<a href="https://www.loccitane.com/en-us/lavender-bath-body-duo-882921.html?gclid=CjwKCAjwg-DpBRBbEiwAEV1_-AczKsS-AVlQKkVSr1ZSrjg7uJ5Gkh4BQ4eWM5dTD1AQ1CnDwgqLFxoCkRkQAvD_BwE"> Link to Purchase </a>
    </p>
  </div>
</div>
<div class="card">
  <img class= "pic2" class="card-img-top" src="https://n.nordstrommedia.com/id/sr3/27daeca5-a900-4140-b0e7-a06e0849c8f8.jpeg?crop=pad&pad_color=FFF&format=jpeg&w=780&h=1196&dpr=2&quality=60">
  <div class="card-body">
    <h4 class="text-center">Jade Roller</h4>
    <h5 class="card-text">A jade roller stimulates blood circulation and lymphatic drainage. It also helps contour facial muscles,  while reducing fine lines and wrinkles, toning and improving elasticity. Works to reduce puffiness around the eyes, soothe the nervous system, and absorb negative energy. Jade is a healing stone and a symbol of purify and tranquility.
<a href="https://shop.nordstrom.com/s/shiffa-jade-facial-roller/4834653"> Link to Purchase </a>
    </p>
  </div>
</div>
</div>

<br>

</body>
