<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='stress.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='healthPage.css') }}">

  <script src="{{ url_for('static', filename='stress.js') }}"></script>

  <title> Stress Less </title>
  <link rel="icon" type="image/png" href="https://i.pinimg.com/originals/85/27/8f/85278f4ca132ab0cc66d863d6e01d98b.png" sizes="16x16" />

</head>

<body>

  <!-- LOGO LINK -->
  <img src="https://i.pinimg.com/originals/aa/59/30/aa59302a3cfea5653b5b52588ce4bc9b.png" class="center"></img>

  <!-- TABS -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Menu</a>


    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->


  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="blogs.html">Blogs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tips.html">Tips</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="places.html">Places</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="app.html">Apps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="quiz.html">Quiz</a>
      </li>

    </ul>
  </div>
</nav>
<!-- <h3 class="text-center">Tips<h3> -->

  <div class="container">
    <p> <b> Exercises </b> </p>
  </div>
    <div class="row">
      <div class="gallery">
        <div class="container">
          <img src="https://i.ibb.co/pnJBSRQ/yoga.jpg" class="img" style="width:100%">
          <div class="middle">
            <div class="text"> <a href="https://www.youtube.com/watch?v=BPK9WNtpBgk"> Yoga </a> </div>
          </div>
        </div>
      </div>
      <div class="gallery">
        <div class="container">
          <img src="https://i.ibb.co/fxT0nPq/meditation.jpg" class="img" style="width:100%">
          <div class="middle">
            <div class="text"> <a href="https://www.youtube.com/watch?v=ayfe4XWCZdg"> Meditation </a> </div>
          </div>
        </div>
      </div>
      <div class="gallery">
        <div class="container">
          <img src="https://i.ibb.co/R4YH5cf/study.jpg" class="img" style="width:100%">
          <div class="middle">
            <div class="text"> <a href="https://www.youtube.com/watch?v=VZTGBj7Zyvk"> Managing Test Stress </a> </div>
          </div>
        </div>
      </div>
    </div>

  <div class="container">
      <p> <b> Health Tips </b> </p>
  </div>
    <div class="row">
      <div class="gallery">
        <div class="container">
          <img src="https://i.ibb.co/jkhmLbg/glass.jpg" class="img" style="width:100%">
          <div class="middle">
            <div class="text"> Drink Some Water </div>
          </div>
        </div>
      </div>
      <div class="gallery">
        <div class="container">
          <img src="https://i.ibb.co/GRckHLG/skincare.jpg" class="img" style="width:100%">
          <div class="middle">
            <div class="text"> Take Care of Your Skin </div>
          </div>
        </div>
      </div>
      <div class="gallery">
        <div class="container">
          <img src="https://images.unsplash.com/photo-1533093818119-ac1fa47a6d59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" class="img" style="width:100%">
          <div class="middle">
            <div class="text"> Take a Bath or Shower</div>
          </div>
        </div>
      </div>
    </div>

  <div class="container">
    <p> <b> Snacks </b> </p>
  </div>
    <div class="row">
      <div class="gallery">
        <div class="container">
          <img src="https://i.ibb.co/znqwZCM/mugCake.jpg" class="img" style="width:100%">
          <div class="middle">
            <div class="text"> <a href="https://www.tablefortwoblog.com/the-moistest-chocolate-mug-cake/"> Chocolate Mug Cake Recipe </a> </div>
          </div>
        </div>
      </div>
      <div class="gallery">
        <div class="container">
          <img src="https://images.unsplash.com/photo-1499636136210-6f4ee915583e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="img" style="width:100%">
          <div class="middle">
            <div class="text"> <a href="https://www.allrecipes.com/recipe/25037/best-big-fat-chewy-chocolate-chip-cookie/"> Chocolate Chip Cookie Recipe </a> </div>
          </div>
        </div>
      </div>
      <div class="gallery">
        <div class="container">
          <img src="https://i.ibb.co/ZVNdkXD/muffin.png" class="img" style="width:100%">
          <div class="middle">
            <div class="text"> <a href="https://tasty.co/recipe/banana-chocolate-chip-breakfast-muffins"> Banana Oat Muffin Recipe </a> </div>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
